<h1><%= @word.name() %></h1>

<h2>Here are all of the definitions for this word</h2>

<ul>
  <% @definitions.each do |definition| %>
    <li><%= definition.name() %></a></li>
  <% end %>
</ul>

<a href="/words/<%= @word.id() %>/definitions/new">Add a definition</a>
