<h1>Welcome!</h1>

<p>To get started click Add a new word</p>

<a href="/words/new"><button type="button" class="btn btn-primary">Add a new word</button></a>
<a href="/words"><button type="button" class="btn btn-success">All Words</button></a>
<a href="/all"><button type="button" class="btn btn-danger">All</button></a><br>

<div class="row">
  <div class="col-lg-3">
  </div>

  <div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for a Word!" name="name">
        <span class="input-group-btn">
          <a href="/search"><button class="btn btn-primary" type="submit">Enter</button></a>
      </span>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
