<h2>Here are all your words</h2>

<ul>
  <% @words.each() do |word| %>
  <li><a href="/words/<%= word.id() %>"> <%= word.name() %></a></li>
  <% end %>
</ul>

<a href="/"><button type="button" class="btn btn-primary">home</button></a>
