body {
  background-image: url("http://orig04.deviantart.net/64e3/f/2013/183/5/8/seamless_fabric_pattern_dark_by_shandya-d6br6zb.png");
}

h1, h2, p, label {
  color: snow;
}
li, a {
  color: snow;
  font-size: 2em;
}
